@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-tinkoff: "T-Sans";
  --font-neue: "Neue Haas Unica";
}

body {
  margin: 0;
  padding: 0;
  /* background: #212121; */
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}


#app {
  width: 100%;
}

@font-face {
  font-family: "T-Sans";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/T-Sans_Bold.otf") format("opentype");
}

@font-face {
  font-family: "T-Sans";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/T-Sans_Medium.otf") format("opentype");
}

@font-face {
  font-family: "T-Sans";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/T-Sans_Regular.otf") format("opentype");
}